$success: #7952b3;

@import "bootstrap/scss/bootstrap.scss";  

/* Custom Bootstrap button with color #5e17eb */
.btn-neo-primary {
    background-color: #5e17eb; /* Background color */
    color: white; /* Text color */
    border-color: #5e17eb; /* Border color */
  }
  
  .btn-neo-primary:hover {
    background-color: #4c13c3; /* Darker shade on hover */
    border-color: #4c13c3; /* Darker border on hover */
  }
  
  .btn-neo-primary:focus, .btn-neo-primary.focus {
    box-shadow: 0 0 0 0.25rem rgba(94, 23, 235, 0.5); /* Focus effect */
  }
  

/* Custom Bootstrap outline button with color #5e17eb */
.btn-neo-primary-outline {
    background-color: transparent; /* Transparent background */
    color: #5e17eb; /* Text color */
    border-color: #5e17eb; /* Border color */
  }
  
  .btn-neo-primary-outline:hover {
    background-color: #5e17eb; /* Background color on hover */
    color: white; /* Text color on hover */
    border-color: #4c13c3; /* Darker border color on hover */
  }
  
  .btn-neo-primary-outline:focus, .btn-neo-primary-outline.focus {
    box-shadow: 0 0 0 0.25rem rgba(94, 23, 235, 0.5); /* Focus effect */
  }
  

  /* Custom Bootstrap secondary button with color #f89b29 */
.btn-neo-secondary {
    background-color: #f89b29; /* Background color */
    color: white; /* Text color */
    border-color: #f89b29; /* Border color */
  }
  
  .btn-neo-secondary:hover {
    background-color: #d57e20; /* Darker shade on hover */
    border-color: #d57e20; /* Darker border on hover */
  }
  
  .btn-neo-secondary:focus, .btn-neo-secondary.focus {
    box-shadow: 0 0 0 0.25rem rgba(248, 155, 41, 0.5); /* Focus effect */
  }


/* Custom Bootstrap outline secondary button with color #f89b29 */
.btn-neo-secondary-outline {
    background-color: transparent; /* Transparent background */
    color: #f89b29; /* Text color */
    border-color: #f89b29; /* Border color */
  }
  
  .btn-neo-secondary-outline:hover {
    background-color: #f89b29; /* Background color on hover */
    color: white; /* Text color on hover */
    border-color: #d57e20; /* Darker border color on hover */
  }
  
  .btn-neo-secondary-outline:focus, .btn-neo-secondary-outline.focus {
    box-shadow: 0 0 0 0.25rem rgba(248, 155, 41, 0.5); /* Focus effect */
  }

  .lead {
    line-height: 1.6; /* Improves vertical spacing */
  }
  