/* Hero Section Styles */
.hero {
  height: 50vh;
  background-image: url('assets/img/Mountains.jpg');
  background-size: cover; /* Keep this to cover the full area */
  background-position: center;
  position: relative;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 1;
}

/* Hero content z-index to stay above overlay */
.hero-content {
  z-index: 2;
}

/* Profile title styles */
.profile-title {
  margin-bottom: 300px; /* Adjusted margin for closer proximity */
}

.profile-name {
  letter-spacing: .5rem;
}

.profile-lead {
  letter-spacing: .1rem;
}

/* Profile image styles */
.profile-image {
  position: relative; /* To position the info section relative to the image */
  z-index: 2; /* Keep above the overlay */
  overflow: visible; /* Allow overflow for the image */
}

/* Center the profile image */
.profile-image img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 10px solid white;
  margin-top: -150px; /* Negative margin to rise above the info section */
}

/* Info Section overlapping profile image */
.info-section {
  background-color: #E1E1E1;
  padding: 10px 20px;
  position: absolute;
  bottom: 0%; /* Adjust to make it overlap */
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px); /* Responsive width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  border: 10px solid white;
}

/* Info Section Text Styles */
.info-section .location,
.info-section .linkedin {
  font-size: 1.1rem;
  color: #333;
}

.info-section .location i,
.info-section .linkedin i {
  color: #007bff; /* Blue color for icons */
}

.info-section .linkedin a {
  text-decoration: none;
  color: #007bff;
}

.info-section .linkedin a:hover {
  text-decoration: underline;
}

.info-section .location {
  margin-right: 10px;
}
